@import '../_commonVar.scss';

#wrapper {
    align-items: center;
    justify-content: center;
    
    h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    form {
        padding: 20px;
        background: white;
        border-radius: 5px;
        
        button, input {
            width: 100%;
            margin: 7px 0;
        }
        
        #crea {
            text-align: right;
            
            a {
                margin: 7px 0;
            }
        }
        
        label {
            color: black;
            display: inline-block;
            margin: 7px 0;
        }
    }
    
    .logo {
        width: 100%;
        margin-bottom: 15px;
    }
    
    a {
        display: block;
        padding-top: 14px;
        font-size: 18px;
        color: $defaultColor;
        text-decoration: underline;
        transition: color $transitionTime;
        
        &:hover {
            color: $hoverColor;
            text-decoration: none;
        }
    }
}