#wrapper {
    align-items: center;
    justify-content: center;
    
    form {
        padding: 20px;
        background: white;
        border-radius: 5px;
        
        button, input {
            width: 100%;
            margin: 7px 0;
        }
        
        label {
            display: inline-block;
            margin: 7px 0;
        }
    }
}