html, body {
  width: 100%;
  height: 100%;
  font-family: Arial; }

body {
  background-color: #D0CCD0; }

* {
  box-sizing: border-box; }

#topMenu {
  width: 100%;
  display: flex;
  background: #FBFCFF;
  justify-content: space-between;
  align-items: stretch; }
  #topMenu .menu {
    width: 20%;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.35s; }
    #topMenu .menu .submenu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transition: max-height 0.35s;
      max-height: 0;
      overflow: hidden; }
      #topMenu .menu .submenu a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background: #FBFCFF;
        transition: background-color 0.35s;
        text-decoration: none;
        color: inherit; }
        #topMenu .menu .submenu a:hover {
          background-color: #B7CE63; }
    #topMenu .menu:hover {
      background-color: #B7CE63; }
      #topMenu .menu:hover .submenu {
        max-height: 300px; }
