@charset "UTF-8";
#alertBox {
  position: absolute;
  width: 400px;
  padding: 15px;
  bottom: 50px;
  left: 50%;
  margin-left: -200px;
  border-radius: 40px;
  text-align: center; }

.default {
  background-color: #C5F4E0; }

.success {
  background-color: #ACECA1; }

.fail, .error {
  background-color: #E4572E; }

.alert {
  background-color: #FADF63; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  color: white; }

body {
  background-color: #191919;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }
  body.topMenu {
    padding-top: 36px; }

/***************/
/* CSS général */
/***************/
* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

button, .button {
  display: inline-block;
  border: none;
  background-color: #A1C6EA;
  padding: 10px;
  transition: background-color 0.35s;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  color: white; }
  button:hover, .button:hover {
    background-color: #507DBC; }

input, select, textarea {
  width: 100%; }

textarea {
  font-family: inherit; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

.disabled {
  color: grey; }
  .disabled:hover {
    color: grey; }

#errors {
  width: 100%;
  position: relative;
  border-radius: 5px;
  background: #ffcccc;
  border: 1px solid #ff6666;
  padding: 5px; }
  #errors #closeError {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: .4;
    cursor: pointer; }
    #errors #closeError:hover {
      opacity: .6; }
  #errors li {
    padding-bottom: 6px; }
    #errors li:last-child {
      padding-bottom: 0; }

/******************/
/* Menu principal */
/******************/
#topMenu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #A1C6EA;
  color: black; }
  #topMenu > div {
    padding: 10px; }
  #topMenu #shortcut [class^="icon-"], #topMenu #shortcut [class*=" icon-"] {
    display: inline-block;
    margin-right: 15px; }
  #topMenu #currenttMenu {
    line-height: 18px; }
  #topMenu #notif > div {
    margin-right: 20px;
    position: relative; }
    #topMenu #notif > div .nb {
      position: absolute;
      top: -5px;
      right: -5px;
      background: red;
      color: white;
      padding: 2px;
      font-size: 10px;
      font-family: Arial, 'sans serif'; }
    #topMenu #notif > div:last-child {
      margin-right: 0; }
  #topMenu #search {
    padding: 6px;
    padding-right: 25px;
    position: relative; }
    #topMenu #search input {
      border: none;
      height: 26px;
      padding: 0 5px;
      background: rgba(251, 251, 251, 0.6); }
  #topMenu a {
    transition: color 0.35s; }
    #topMenu a:hover {
      color: #507DBC; }

#mainMenu {
  width: 300px;
  height: 100%;
  background: #e6e6e6;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 150;
  padding-top: 150px;
  transition: right 0.55s; }
  #mainMenu.show {
    right: 0; }
  #mainMenu .menu {
    width: 100%;
    margin: auto;
    position: relative;
    cursor: pointer;
    color: black; }
    #mainMenu .menu a {
      display: inline-block;
      width: 100%;
      padding: 10px;
      padding-left: 40px;
      background: #e6e6e6;
      transition: background-color 0.35s, color 0.35s; }
      #mainMenu .menu a.active {
        color: #7C98B3;
        font-weight: bold; }
      #mainMenu .menu a:hover {
        color: inherit;
        background-color: #507DBC;
        color: white; }
      #mainMenu .menu a [class^="icon-"], #mainMenu .menu a [class*=" icon-"] {
        display: inline-block;
        margin-right: 10px; }
    #mainMenu .menu .submenu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.55s; }
      #mainMenu .menu .submenu > a {
        padding-left: 70px;
        position: relative;
        left: -100%;
        transition: left 0.35s; }
        #mainMenu .menu .submenu > a:nth-child(1) {
          transition-delay: 0s; }
        #mainMenu .menu .submenu > a:nth-child(2) {
          transition-delay: 0.15s; }
        #mainMenu .menu .submenu > a:nth-child(3) {
          transition-delay: 0.3s; }
        #mainMenu .menu .submenu > a:nth-child(4) {
          transition-delay: 0.45s; }
        #mainMenu .menu .submenu > a:nth-child(5) {
          transition-delay: 0.6s; }
        #mainMenu .menu .submenu > a:nth-child(6) {
          transition-delay: 0.75s; }
        #mainMenu .menu .submenu > a:nth-child(7) {
          transition-delay: 0.9s; }
        #mainMenu .menu .submenu > a:nth-child(8) {
          transition-delay: 1.05s; }
        #mainMenu .menu .submenu > a:nth-child(9) {
          transition-delay: 1.2s; }
        #mainMenu .menu .submenu > a:nth-child(10) {
          transition-delay: 1.35s; }
    #mainMenu .menu.open > a {
      background-color: #507DBC;
      font-weight: bold;
      color: white; }
    #mainMenu .menu.open .submenu {
      border-top: 1px solid #507DBC;
      border-bottom: 1px solid #507DBC;
      max-height: 400px; }
      #mainMenu .menu.open .submenu > a {
        left: 0; }

/**********/
/* Footer */
/**********/
#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px;
  z-index: 4;
  background: #A1C6EA; }

/*******************/
/* Wrapper général */
/*******************/
#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  box-sizing: border-box;
  background-image: url("../background.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto; }
