#listItem {
  width: 100%; }
  #listItem .item {
    width: 200px;
    height: 200px;
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
    float: left; }
    #listItem .item .background, #listItem .item .front {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden; }
    #listItem .item .background {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2; }
      #listItem .item .background img {
        width: 100%; }
    #listItem .item .front {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      color: black;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 3;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.35s; }
      #listItem .item .front > div {
        width: 100%; }
        #listItem .item .front > div h1 {
          font-size: 2.3rem;
          width: 100%;
          padding: 0 12px;
          word-break: break-all;
          margin-bottom: 20px; }
        #listItem .item .front > div p {
          font-size: 1.75rem; }
          #listItem .item .front > div p a, #listItem .item .front > div p span {
            margin-right: 15px; }
            #listItem .item .front > div p a:last-child, #listItem .item .front > div p span:last-child {
              margin-right: 0; }
      #listItem .item .front .icons {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px;
        font-size: 1.2rem; }
      #listItem .item .front:hover {
        opacity: 1; }

#modalBorrow .listUser .user {
  width: 75px;
  height: 75px;
  border: 1px solid white;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  position: relative;
  transition: border-color 0.35s; }
  #modalBorrow .listUser .user:nth-child(7n) {
    margin-right: 0; }
  #modalBorrow .listUser .user:hover {
    border-color: #7C98B3; }
  #modalBorrow .listUser .user.active {
    border-color: #7C98B3; }
  #modalBorrow .listUser .user img {
    width: 100%;
    height: 100%; }
  #modalBorrow .listUser .user p {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 0; }
