#listItem {
  width: 100%; }
  #listItem .item {
    width: 200px;
    height: 200px;
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
    float: left; }
    #listItem .item .background, #listItem .item .front {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden; }
    #listItem .item .background {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2; }
      #listItem .item .background img {
        width: 100%; }
    #listItem .item .front {
      position: relative;
      color: black;
      background: rgba(255, 255, 255, 0.8);
      z-index: 3;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.35s; }
      #listItem .item .front .info {
        padding: 7px;
        height: 168px;
        overflow: hidden; }
        #listItem .item .front .info p {
          margin-bottom: 7px; }
          #listItem .item .front .info p:last-child {
            margin-bottom: 0; }
      #listItem .item .front .icons {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px; }
        #listItem .item .front .icons > * {
          cursor: pointer;
          transition: color 0.35s; }
          #listItem .item .front .icons > *:hover {
            color: #7C98B3; }
      #listItem .item .front:hover {
        opacity: 1; }
