@import '../_commonVar.scss';

#addItem {
    background-color: $defaultColor;
    padding: 15px;
    transition: background-color $transitionTime;
    
    &:hover {
        background-color: $hoverColor;
    }
}