@import "../_commonVar.scss";

table {
    width: 100%;
    
    caption {
        padding: 7px;
        cursor: pointer;
    }
    
    td, th {
        padding: 12px;
    }
    
    thead {
        background: $defaultColor;
        color: black;
    }
    
    tbody {
        tr:nth-child(odd) {
            background: darken(white, 70);
        }
        
        tr:nth-child(even) {
            background: darken(white, 80);
        }
        
        td {
            border-right: 1px solid darken(white, 65);
            
            &:last-child {
                border-right: 0;
            }
        }
        
        [class*=icon-] {
            margin-right: 20px;
            transition: color $transitionTime;
            cursor: pointer;
            
            &:hover {
                color: $hoverColor;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

#modalRuleBorrow {
    p {
        margin-bottom: 15px;
    }
    li {
        padding-left: 15px;
        margin-bottom: 10px;
    }
}

#modalBorrowBegin, #modalRenewBorrow {
    p {
        padding: 7px 0;
        
        span {
            font-weight: bold;
        }
    }
}