@import "../_commonVar.scss";

table {
    width: 100%;
    
    td, th {
        padding: 12px;
    }
    
    thead {
        background: $defaultColor;
        color: black;
    }
    
    tbody {
        tr:nth-child(odd) {
            background: darken(white, 70);
        }
        
        tr:nth-child(even) {
            background: darken(white, 80);
        }
        
        td {
            border-right: 1px solid darken(white, 65);
            
            &:last-child {
                border-right: 0;
            }
        }
    }
}