#wrapper {
    display: block;
    
    h1, h2 { 
        width: 100%;
        margin-bottom: 20px;
    }
    
    h1 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    h2 {
        color: red;
    }
    
    [name*='track'] {
        margin-bottom: 15px;
    }
    
    #imgInput {
        margin-top: 1.8rem;
        
        label {
            font-size: 1.6rem;
        }
    }
    
    .track {
        margin-top: 0;
    }
    
    #buttonWrapper {
        margin-top: 1.8rem;
        
        button {
            width: 100%;
        }
    }
    
    #manageTrack button {
        padding: 5px;
    }
    
    .floatingLabel {
        input, select, textarea {
            
            & + label {
                color: black;
            }
            
            &:focus + label, &.filled + label {
                color: white;
            }
        }
    }
    
    #imgContainer {
        img {
            max-height: 200px;
        }
    }
}