#wrapper {
    display: flex;
    flex-direction: column;
    
    h1 {
        font-size: 2vw;
    }
    
    h2 {
        font-size: 1.5vw;
    }
    
    > h1, > h2 {
        padding: .5rem 0;
    }
    
    #stepWrapper {
        position: relative;
        flex: 1;
        
        .step {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 150%;
            transition: left .35s, right .35s;
        }
    }
    
    #step1, #step2 {
        display: flex;
        flex-direction: column;
        
        > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-evenly;
            
            > div {
                cursor: pointer;
                font-size: 2vw;
                
                .icon  {
                    margin-bottom: 3vh;
                    display: inline-block;
                }
            }
        }
    }
    
    #step3 {
        > button {
            margin-top: 1.8rem;
            margin-left: .5rem;
        }
    }
    
    #breadcrumb {
        
        span {
            cursor: pointer;
            
            &::after {
                content: ">";
                padding: 0 .5vw;
            }
            
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
        
    .floatingLabel {
        input, select, textarea {
            
            & + label {
                color: black;
            }
            
            &:focus + label, &.filled + label {
                color: white;
            }
        }
    }
    
}