#wrapper {
  display: block; }
  #wrapper h1, #wrapper h2 {
    width: 100%;
    margin-bottom: 20px; }
  #wrapper h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold; }
  #wrapper h2 {
    color: red; }
  #wrapper [name*='track'] {
    margin-bottom: 15px; }
  #wrapper #imgInput {
    margin-top: 1.8rem; }
    #wrapper #imgInput label {
      font-size: 1.6rem; }
  #wrapper .track {
    margin-top: 0; }
  #wrapper #buttonWrapper {
    margin-top: 1.8rem; }
    #wrapper #buttonWrapper button {
      width: 100%; }
  #wrapper #manageTrack button {
    padding: 5px; }
  #wrapper .floatingLabel input + label, #wrapper .floatingLabel select + label, #wrapper .floatingLabel textarea + label {
    color: black; }
  #wrapper .floatingLabel input:focus + label, #wrapper .floatingLabel input.filled + label, #wrapper .floatingLabel select:focus + label, #wrapper .floatingLabel select.filled + label, #wrapper .floatingLabel textarea:focus + label, #wrapper .floatingLabel textarea.filled + label {
    color: white; }
  #wrapper #imgContainer img {
    max-height: 200px; }
