#wrapper {
  align-items: center;
  justify-content: center; }
  #wrapper h1 {
    margin-bottom: 10px;
    font-size: 20px; }
  #wrapper form {
    padding: 20px;
    background: white;
    border-radius: 5px; }
    #wrapper form button, #wrapper form input {
      width: 100%;
      margin: 7px 0; }
    #wrapper form #crea {
      text-align: right; }
      #wrapper form #crea a {
        margin: 7px 0; }
    #wrapper form label {
      color: black;
      display: inline-block;
      margin: 7px 0; }
  #wrapper .logo {
    width: 100%;
    margin-bottom: 15px; }
  #wrapper a {
    display: block;
    padding-top: 14px;
    font-size: 18px;
    color: #A1C6EA;
    text-decoration: underline;
    transition: color 0.35s; }
    #wrapper a:hover {
      color: #507DBC;
      text-decoration: none; }
