#alertBox {
    position: absolute;
    width: 400px;
    padding: 15px;
    z-index: 15;
    bottom: 50px;
    left: 50%;
    margin-left: -200px;
    border-radius: 40px;
    text-align: center;
}

.default {
    background-color: #C5F4E0;
}

.success {
    background-color: #ACECA1;
}

.fail, .error {
    background-color: #E4572E;
}

.alert {
    background-color: #FADF63;
}