@import './_commonVar.scss';
@import './_alertBox.scss';
@import './_floatingLabel.scss';

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    color: white;
    font-size: 15px;
}

@media (max-width: 1601px) {
    html, body {
        font-size: 12px;
    }    
}

body {
    background-color: #191919;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

/***************/
/* CSS général */
/***************/

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button, .button {
    display: inline-block;
    border: none;
    background-color: $defaultColor;
    padding: 10px;
    transition: background-color $transitionTime;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    
    &:hover {
        background-color: $hoverColor;
    }
}

input, select, textarea {
    width: 100%;
}

textarea {
    font-family: inherit;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.disabled {
    color: grey;

    &:hover {
        color: grey;
    }
}

#errors {
    width: 100%;
    position: relative;
    border-radius: 5px;
    background: lighten(red, 40%);
    border:1px solid lighten(red, 20%);
    padding: 9px;
    font-size: 1.3rem;
    color: lighten(red, 20%);
    margin-bottom: 10px;

    #closeError {
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: .4;
        cursor: pointer;
        
        &:hover {
            opacity: .6;
        }
    }

    li {
        padding-bottom: 6px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

/******************/
/* Menu principal */
/******************/

#mainMenu {
    $topBackground: #E8F1F2;
        
    width: 20%;
    height: 100%;
    background: $topBackground;
    float: left;
    z-index: 99;
    padding-top: 25px;
    position: relative;
    transition: right $transitionTime+.20;
    color: black;
    overflow: hidden;
    
    #logoWrapper {
        img {
            max-width: 150px;
        }
    }
    
    #commonMenu {
        font-size: 2rem;
        padding: 20px 0;
            
        a {
            padding: 5px;
            margin: 0 15px;
        }
    }
    
    a {
        position: relative;
        transition: background-color $transitionTime, color $transitionTime;
        
        &.active {
            color: $activeColor;
            font-weight: bold;
        }

        &:hover {
            color: $hoverColor;
        }
        
        .nb {
            background: $highlightColor;
            color: $topBackground;
            padding: 2px 4px;
            position: absolute;
            top: 8px;
            right: 20px;
            font-size: .8rem;
        }
    }
    
    .menuList {
        padding: 20px 0;
        
        h3 {
            padding: 0 10px;
            font-size: 1.8rem;
            margin-bottom: 10px;
            color: $highlightColor;
        }
        
        a {
            display: block;
            font-size: 1.2rem;
            padding: 7px 0 7px 25px;
        }
    }
    
    hr {
        width: 70%;
    }
    
    .menu {
        width: 100%;
        margin: auto;
        position: relative;
        cursor: pointer;
        
        .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height $transitionTime+.2;

            > a {
                padding-left: 70px;
                position: relative;
                left: -100%;
                transition: left $transitionTime;

                @for $i from 0 through 9 {
                    &:nth-child(#{$i + 1}) {
                        transition-delay: ($transitionTime - .20)*$i;
                    }
                }
            }
        }
        
        &.open {
            
            > a {
                background-color: $hoverColor;
                font-weight: bold;
                color: white;
            }
            
            .submenu {
                max-height: 400px;
                
                > a {
                    left: 0;
                }
            }
        }
    }

}

/**********/
/* Footer */
/**********/

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 0;
    z-index: 4;
    color: black;
}

/*******************/
/* Wrapper général */
/*******************/

#wrapper {
    width: 80%;
    height: 100%;
    padding: 15px;
    float: left;
    display: flex;
    box-sizing: border-box;
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
}