@import './_commonVar.scss';
@import './_alertBox.scss';

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

body {
    background-color: #D0CCD0;
    position: relative;
    
    &.topMenu {
        padding-top: 36px;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button, .button {
    border: none;
    background-color: $defaultColor;
    padding: 15px;
    transition: background-color $transitionTime;
    
    &:hover {
        background-color: $hoverColor;
    }
}

input, select, textarea {
    width: 100%;
}

#topMenu {
    $topBackground: #FBFCFF;
    
    width: 100%;
    display: flex;
    background: $topBackground;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;

    .menu {
        width: percentage(1/5);
        margin: auto;
        position: relative;
        text-align: center;
        cursor: pointer;
        color: black;
        
        a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            background: $topBackground;
            transition: background-color $transitionTime, color $transitionTime;
            
            &.active {
                color: $activeColor;
                font-weight: bold;
            }
            
            &:hover {
                color: inherit;
                background-color: $hoverColor;
            }
        }
        
        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: max-height $transitionTime;
            max-height: 0;
            overflow: hidden;
        }
        
        &:hover {
            .submenu {
                max-height: 300px;
            }
        }
    }
}

#wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
}