@import './_commonVar.scss';
@import './_alertBox.scss';

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    color: white;
}

body {
    background-color: #191919;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    
    &.topMenu {
        padding-top: 36px;
    }
}

/***************/
/* CSS général */
/***************/

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button, .button {
    display: inline-block;
    border: none;
    background-color: $defaultColor;
    padding: 10px;
    transition: background-color $transitionTime;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    
    &:hover {
        background-color: $hoverColor;
    }
}

input, select, textarea {
    width: 100%;
}

textarea {
    font-family: inherit;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.disabled {
    color: grey;

    &:hover {
        color: grey;
    }
}

#errors {
    width: 100%;
    position: relative;
    border-radius: 5px;
    background: lighten(red, 40%);
    border:1px solid lighten(red, 20%);
    padding: 5px;

    #closeError {
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: .4;
        cursor: pointer;
        
        &:hover {
            opacity: .6;
        }
    }

    li {
        padding-bottom: 6px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

/******************/
/* Menu principal */
/******************/

#topMenu {
    $topBackground: #FBFBFB;
    
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $defaultColor;
    color: black;
    
    > div {
        padding: 10px;
    }
    
    #shortcut {
        [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            margin-right: 15px;
        }
    }
    
    #currenttMenu {
        line-height: 18px;
    }
    
    #notif {
        > span {
            margin-right: 20px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    #search {
        padding: 6px;
        padding-right: 25px;
        position: relative;
        
        input {
            border: none;
            height: 26px;
            padding: 0 5px;
            background: rgba($topBackground, .6);
        }
    }
    
    a {
        transition: color $transitionTime;
        
        &:hover {
            color: $hoverColor;
        }
    }
}

#mainMenu {
    $topBackground: darken(#FFFFFF, 10%);
        
    width: 300px;
    height: 100%;
    background: $topBackground;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 150;
    padding-top: 150px;
    transition: right $transitionTime+.20;
    
    &.show {
        right: 0;
    }

    .menu {
        width: 100%;
        margin: auto;
        position: relative;
        cursor: pointer;
        color: black;
        
        a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            padding-left: 40px;
            background: $topBackground;
            transition: background-color $transitionTime, color $transitionTime;
            
            &.active {
                color: $activeColor;
                font-weight: bold;
            }
            
            &:hover {
                color: inherit;
                background-color: $hoverColor;
                color: white;
            }
            
            [class^="icon-"], [class*=" icon-"] {
                display: inline-block;
                margin-right: 10px;
            }
        }
        
        .submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height $transitionTime+.2;
            
            > a {
                padding-left: 70px;
                position: relative;
                left: -100%;
                transition: left $transitionTime;
                
                @for $i from 0 through 9 {
                    &:nth-child(#{$i + 1}) {
                        transition-delay: ($transitionTime - .20)*$i;
                    }
                }
            }
        }
        
        &.open {
            
            > a {
                background-color: $hoverColor;
                font-weight: bold;
                color: white;
            }
            
            .submenu {
                border-top: 1px solid $hoverColor;
                border-bottom: 1px solid $hoverColor;
                max-height: 400px;
                
                > a {
                    left: 0;
                }
            }
        }
    }
}

/**********/
/* Footer */
/**********/

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px;
}

/*******************/
/* Wrapper général */
/*******************/

#wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center;
}