@import './_commonVar.scss'; 

#listItem {
    width: 100%;
    
    .item {
        width: 200px;
        height: 200px;
        position: relative;
        margin-right: 40px;
        margin-bottom: 40px;
        float: left;
        
        .background, .front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        
        .background {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            
            img {
                width: 100%;
            }
        }
        
        .front {
            position: relative;
            color: black;
            background: rgba(white, .8);
            z-index: 3;
            opacity: 0;
            cursor: pointer;
            transition: opacity $transitionTime;
            
            .info {
                padding: 7px;
                height: 168px;
                overflow: hidden;
                
                p {
                    margin-bottom: 7px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            
            .icons {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 7px;
                
                a, span {
                    cursor: pointer;
                    transition: color $transitionTime;
                    
                    &:hover {
                        color: $activeColor;
                    }
                }
            }
            
            &:hover {
                opacity: 1;
            }
        }
    }
}